Source: bitu-ldap
Section: net
Priority: extra
Maintainer: Simon Lyngshede <slyngshede@wikimedia.org>
Build-Depends: debhelper-compat (= 12), dh-python, python3, python3-ldap3, python3-setuptools 
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: python3-bitu-ldap
Architecture: all
Depends:  ${python3:Depends}, ${misc:Depends}
Description: Provides helper functions for
 connecting and interacting with LDAP. The
 library uses ldap3 to give the user an object
 oriented approach to LDAP object management.
 The intended use-case are administration
 scripts and tools which operates on LDAP
 setups which follows common configuration
 scenarios.
